<div class="docs-text-styling docs-footer mdl-mini-footer">
    <ul>
        <li class="mdl-mini-footer--social-btn">
            <a title="Twitter" target="_blank" role="button" class="social-btn social-btn__twitter" href="https://twitter.com/phpugdd"></a>
        </li>
        <li class="mdl-mini-footer--social-btn">
            <a title="GitHub" target="_blank" role="button" class="social-btn social-btn__github" href="http://github.com/php-usergroup-dresden"></a>
        </li>
        <li class="mdl-mini-footer--social-btn">
            <a title="Facebook" target="_blank" role="button" class="social-btn social-btn__gplus" href="https://www.facebook.com/PHP-USERGROUP-DRESDEN-1623896237827037"></a>
        </li>
    </ul>
</div>
