<div class="mdl-layout__header-row">
    <img src="style/images/phpugdd.png" class="phpug-logo"></img>
    <span class="mdl-layout__title">Eine Seite der PHPUSERGROUP DRESDEN e.V.</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
    </nav>
</div>