<div class="mdl-layout__header-row">
    <span class="mdl-layout__title">Eine Seite der PHPUSERGROUP DRESDEN e.V.</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
    </nav>
</div>