{% extends "base.html.twig" %}

{% block header %}
    {% include 'partials/header/default.html.twig' %}
{% endblock %}

{% block content %}
    <div class="one-page-layout mdl-grid">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__content">
                {% block content_main %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'partials/footer/default.html.twig' %}
{% endblock %}

